.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}
label {
    font-weight: bold;
    font-size: 16px;
}

#submit_button {
    background-color: #B22222;
    height: 30px;
    width: 20%;
    color: #FFFFFF;
    font-weight: bold;
}

input, textarea {
    background-color: #D3D3D3;
    color: #2F4F4F;
    width: 250px;
    margin-bottom: 10px;
    
}

h1 {
    color: darkblue;
    font-size: 200%;
    font-family: cursive;
}
